.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem 0;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem; 
}

.back {
  margin-top: 2rem;
}