$colorWhite: #ffff;

/** dark **/
/** https://coolors.co/d707f2-052159-375ca6-91b2f2-227cf2 */
$colorPhlox: #d707f2ff;
$colorPennBlue: #052159ff;
$colorDenim: #375ca6ff;
$colorJordyBlue: #91b2f2ff;
$colorAzure: #227cf2ff;

$colorHeliotrope: #e861faff;
$colorRichBlack: #010713ff;
$colorOxfordBlue: #03163aff;

/** light */
/** https://coolors.co/d3b374-cb5d3c-c59a8e-edd1c9-e39f91 */
$colorEcru: #d3b374ff;
$colorJasper: #cb5d3cff;
$colorRosyBrown: #c59a8eff;
$colorPaleDogwood: #edd1c9ff;
$colorMelon: #e39f91ff;

$colorWheat: #e2cca2ff;
$colorChestnut: #a1462bff;
$colorSienna: #71311eff;

$colorEggshell: #e6e4cbff;
$colorPaleDogwood: #dec6b9ff;
$colorTimberwolf: #e3d8d2ff;
$colorIsabelline: #f5eeebff;
$colorChampagnePink: #ecddd8ff;
